<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Hello,  {{htmlescape var=$order.getCustomerName()}}</h1>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Thank you for your order from {{var store.getFrontendName()}}.
            You can check the status of your order by <a  href="{{store url="customer/account/"}}"  style="color:#1E7EC8;">logging into your account</a>.

        </p>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Your shipping confirmation is below. Thank you again for your business.
        </p></br>

     <h4 style="font-size:18px; font-weight:normal; margin:0;">Your Order #{{var order.increment_id}} is being shipped via Pitney Bowes to the following address
</h4> 
<p>
{{var order.getShippingAddress().format('html')}} </p>

		<b><i>Note: The above shipping address is not the final shipping address but it is the distribution hub address that the parcel will be sent out internationally</i></b>

                    
                