
        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Hello, {{var customerName}}</h1>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Thank you for your order from {{var storeName}}.
            You can check the status of your order by <a href="{{var customerAccountUrl}}" style="color:#1E7EC8;">logging into your account</a>.

        </p>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Your shipping confirmation is below. Thank you again for your business.
        </p>

        <h2 style="font-size:18px; font-weight:normal; margin:0;">Your Order #{{var orderNumber}} has been shipped from local warehouse to international shipment hub from where it will be shipped to your country.</h2>
