<?xml version="1.0"?>
<config>
    <modules>
        <Pb_Pbgsp>
            <version>1.1.1</version>
        </Pb_Pbgsp>
    </modules>
    <global>
        <!--<template>-->
            <!--<email>-->
                <!--<sales_email_pb_shipment_template>-->
                    <!--<label>Pitney Bowes Custom Shipment Email</label>-->
                    <!--<file>pbgsp_shipment_new.html</file>-->
                    <!--<type>html</type>-->
                <!--</sales_email_pb_shipment_template>-->
            <!--</email>-->
        <!--</template>-->
        <blocks>
            <PB_Pbgsp>
                <class>Pb_Pbgsp_Block</class>
            </PB_Pbgsp>
            <sales>
                <rewrite>
                    <order_totals>Pb_Pbgsp_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>Pb_Pbgsp_Block_Sales_Order_Invoice_Totals</order_invoice_totals>

                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Pb_Pbgsp_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Pb_Pbgsp_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>

                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Pb_Pbgsp_Block_Checkout_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <pb_pbgsp>
                <class>Pb_Pbgsp_Model</class>
                <resourceModel>pb_pbgsp_mysql4</resourceModel>
            </pb_pbgsp>
            <pb_pbgsp_mysql4>
                <class>Pb_Pbgsp_Model_Mysql4</class>
                <entities>
                    <variable>
                        <table>pbgsp_variable</table>
                    </variable>
                    <ordernumber>
                        <table>pbgsp_ordernumber</table>
                    </ordernumber>
                    <inboundparcel>
                        <table>pbgsp_inbound_parcel</table>
                    </inboundparcel>
                </entities>
            </pb_pbgsp_mysql4>
            <sales>
                <rewrite>
                    <order_invoice_total_tax>Pb_Pbgsp_Model_Invoice_Duty</order_invoice_total_tax>
                    <order_creditmemo_total_tax>Pb_Pbgsp_Model_Creditmemo_Duty</order_creditmemo_total_tax>
                    <order_shipment>Pb_Pbgsp_Model_Sales_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
        </models>
        <resources>
            <pbgsp_setup>
                <setup>
                    <module>Pb_Pbgsp</module>
                    <class>Pb_Pbgsp_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pbgsp_setup>
            <pb_pbgsp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pb_pbgsp_write>
            <pb_pbgsp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pb_pbgsp_read>
        </resources>
        <events>
            <!--<checkout_submit_all_after>&lt;!&ndash; added by Kamran 7/2/2014 &ndash;&gt;-->
                <!--<observers>-->
                    <!--<Pb_Pbgsp_Model_CheckoutSubmitAllAfter>-->
                        <!--<type>model</type>-->
                        <!--<class>pb_pbgsp/observer</class>-->
                        <!--<method>createOrderAdminAfter</method>-->
                    <!--</Pb_Pbgsp_Model_CheckoutSubmitAllAfter>-->
                <!--</observers>-->
            <!--</checkout_submit_all_after>-->
            <core_block_abstract_to_html_after>
                <observers>
                    <Pb_Pbgsp_Model_OrderView>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>modifyOrderView</method>
                    </Pb_Pbgsp_Model_OrderView>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <Pb_Pbgsp_Model_SaveShippingOne>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>saveShippingMethod</method>
                    </Pb_Pbgsp_Model_SaveShippingOne>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Pb_Pbgsp_Model_CheckoutCompleteOne>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>createPbOrder</method>
                    </Pb_Pbgsp_Model_CheckoutCompleteOne>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_postdispatch_checkout_cart_estimateUpdatePost>
                <observers>
                    <Pb_Pbgsp_Estimated_Shipping>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>addDutiesOnEstimation</method>
                    </Pb_Pbgsp_Estimated_Shipping>
                </observers>
            </controller_action_postdispatch_checkout_cart_estimateUpdatePost>
            <catalog_product_load_after>
                <observers>
                    <Pb_Pbgsp_Product_Last_Export>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>productLoadAfter</method>
                    </Pb_Pbgsp_Product_Last_Export>
                </observers>
            </catalog_product_load_after>
            <catalog_category_load_after>
                <observers>
                    <Pb_Pbgsp_Product_Last_Export>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>categoryLoadAfter</method>
                    </Pb_Pbgsp_Product_Last_Export>
                </observers>
            </catalog_category_load_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <tax>
                        <class>Pb_Pbgsp_Model_Quote_Duty</class>
                        <before>grand_total</before>
                        <after>shipping</after>
                    </tax>
                </totals>
            </quote>
        </sales>
        <pdf>
            <totals>
                <tax translate="title">
                    <title>Tax</title>
                    <source_field>tax_amount</source_field>
                    <model>pb_pbgsp/pdf_tax</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>300</sort_order>
                </tax>
            </totals>
        </pdf>

    </global>
    <resources>
        <sales_setup>
            <setup>
                <module>Pb_Pbgsp</module>
                <class>Pb_Pbgsp_Model_Entity_Setup</class>
            </setup>
        </sales_setup>
    </resources>

    <!--<frontend>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<pbcheckout>-->
                    <!--<file>pbcheckout.xml</file>-->
                <!--</pbcheckout>-->
            <!--</updates>-->
        <!--</layout>-->
        <!--<routers>-->
            <!--<Pb_Pbgsp>-->
                <!--<use>standard</use>-->
                <!--<args>-->
                    <!--<module>Pb_Pbgsp</module>-->
                    <!--<frontName>pbgsp</frontName>-->
                    <!--&lt;!&ndash; loads ../controller/IndexController in http://..../magento/index.php/testController &ndash;&gt;-->
                <!--</args>-->
            <!--</Pb_Pbgsp>-->
        <!--</routers>-->
        <!--<translate>-->
            <!--<modules>-->
                <!--<translations>-->
                    <!--<files>-->
                        <!--<default>Pb_Pbgsp.csv</default>-->
                    <!--</files>-->
                <!--</translations>-->
            <!--</modules>-->
        <!--</translate>-->
    <!--</frontend>-->

    <default>
        <carriers>
            <pbgsp>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Pb_Pbgsp_Model_Carrier_ShippingMethod</model>
                <specificerrmsg>
                    This shipping method is currently unavailable.
                    If you would like to ship using this shipping
                    method, please contact us.
                </specificerrmsg>
                <handling_type>F</handling_type>
                <catalog_diff>1</catalog_diff>
                <catalog_full>1</catalog_full>
                <catalog_size>10000</catalog_size>
                <catalog_encryption_enabled>0</catalog_encryption_enabled>
                <asn_generation_enabled>1</asn_generation_enabled>
                <suppress_domestic_tracking>1</suppress_domestic_tracking>
                <notify_catalog_ok>0</notify_catalog_ok>
                <notify_catalog_err>1</notify_catalog_err>
                <custom_shipment_email_subject><![CDATA[{{var store.getFrontendName()}}: Shipment confirmation for Order # {{var order.increment_id}}]]>
                </custom_shipment_email_subject>
                <custom_shipment_email_template><![CDATA[<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Hello,  {{htmlescape var=$order.getCustomerName()}}</h1>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Thank you for your order from {{var store.getFrontendName()}}.
            You can check the status of your order by <a  href="{{store url="customer/account/"}}"  style="color:#1E7EC8;">logging into your account</a>.

        </p>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Your shipping confirmation is below. Thank you again for your business.
        </p>

        <h2 style="font-size:18px; font-weight:normal; margin:0;">Your Order #{{var order.increment_id}} has been shipped from local warehouse to international shipment hub from where it will be shipped to your country.</h2>

                    ]]>
                </custom_shipment_email_template>
                <separate_log_file>0</separate_log_file>

                <shipping_services>
                    <POSTAL_PRIORITY>
                        <title>Standard</title>
                        <enabled>0</enabled>
                    </POSTAL_PRIORITY>
                    <FEDEX_ECONOMY>
                        <title>Express</title>
                        <enabled>1</enabled>
                    </FEDEX_ECONOMY>
                    <FEDEX_PRIORITY>
                        <title>Express Plus</title>
                        <enabled>1</enabled>
                    </FEDEX_PRIORITY>
                    <AE_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </AE_STANDARD>
                    <AU_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </AU_STANDARD>
                    <CN_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </CN_STANDARD>
                    <CPC_EXPRESS>
                        <title>Premier Plus</title>
                        <enabled>1</enabled>
                    </CPC_EXPRESS>
                    <CPC_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </CPC_STANDARD>
                    <EU_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </EU_STANDARD>
                    <HK_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </HK_STANDARD>
                    <KR_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </KR_STANDARD>
                    <NZ_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </NZ_STANDARD>
                    <PH_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </PH_STANDARD>
                    <SG_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </SG_STANDARD>
                    <TH_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </TH_STANDARD>
                    <TW_STANDARD>
                        <title>Premier</title>
                        <enabled>1</enabled>
                    </TW_STANDARD>
                </shipping_services>
                <error_messages>
                    <_1005001>
                        <display>The shipping address is invalid.</display>
                    </_1005001>
                    <_1005002>
                        <display>The consignee information is invalid.</display>
                    </_1005002>
                    <_1005003>
                        <display>The COP transportation information is invalid.</display>
                    </_1005003>
                    <_1005004>
                        <display>The requested return currency is invalid.</display>
                    </_1005004>
                    <_1005005>
                        <display>The request currency is not supported for the target country.</display>
                    </_1005005>
                    <_1005006>
                        <display>The order cannot be shipped by the method selected.</display>
                    </_1005006>
                    <_1005007>
                        <display>The order value has exceeded the allowed value.</display>
                    </_1005007>
                    <_1005008>
                        <display>Invalid fields in parcels.</display>
                    </_1005008>
                    <_1005009>
                        <display>Invalid fields in commoditySources.</display>
                    </_1005009>
                    <_1005010>
                        <display>This basket is over the dollar value for international shipping. Please remove some items before proceeding.</display>
                    </_1005010>
                    <_1005011>
                        <display>There are errors at the Quote Item Level.</display>
                    </_1005011>
                    <_1005012>
                        <display>The order exceeded the weight limit.</display>
                    </_1005012>
                    <_1005013>
                        <display>The shipping address has missing fields.</display>
                    </_1005013>
                    <_1005014>
                        <display>Missing fields in basket.</display>
                    </_1005014>
                    <_1005015>
                        <display>Invalid fields in basket.</display>
                    </_1005015>
                    <_1005016>
                        <display>The consignee information is missing.</display>
                    </_1005016>
                    <_1005017>
                        <display>The COP transportation information is missing.</display>
                    </_1005017>
                    <_1005018>
                        <display>Shipping Speed unavailable.</display>
                    </_1005018>
                    <_1005018>
                        <display>Shipping Speed unavailable.</display>
                    </_1005018>
                    <_1005019>
                        <display>Missing Basket.</display>
                    </_1005019>
                    <_1005020>
                        <display>Missing Parcel Fields.</display>
                    </_1005020>
                    <_1005021>
                        <display>Missing fields in the basket commodity source.</display>
                    </_1005021>
                    <_1005022>
                        <display>Invalid Parcel Fields.</display>
                    </_1005022>
                    <_1006001>
                        <display>The commodity was invalid.</display>
                    </_1006001>
                    <_1006002>
                        <display>The commodity is too large to ship (length, width or height).</display>
                    </_1006002>
                    <_1006003>
                        <display>The commodity cannot be shipped to the COD.</display>
                    </_1006003>
                    <_1006004>
                        <display>The commodity has a negative price.</display>
                    </_1006004>
                    <_1006005>
                        <display>The commodity’s price was too low and did not have a dutiable value.</display>
                    </_1006005>
                    <_1006006>
                        <display>The item price exceeds maximum.</display>
                    </_1006006>
                    <_1006007>
                        <display>Item weight exceeds maximum.</display>
                    </_1006007>
                    <_1006008>
                        <display>Invalid commodity rated data. Commodity cannot be shipped at this time.  This is an internal error and should be raised to PB immediately. .</display>
                    </_1006008>
                    <_1006009>
                        <display>The Commodity is restricted for this Country of Destination.</display>
                    </_1006009>
                    <_10060010>
                        <display>Commodity cannot be quoted.</display>
                    </_10060010>
                    <_10060011>
                        <display>Commodity cannot shipped to the address specified.</display>
                    </_10060011>
                    <_1007001>
                        <display>Order value exceeded on this line.</display>
                    </_1007001>
                    <_1007002>
                        <display>Line too large to ship (length, width or height of the shipping box).</display>
                    </_1007002>
                    <_1007003>
                        <display>The quantity is invalid or missing.</display>
                    </_1007003>
                    <_1007004>
                        <display>Weight Value exceeded on this line.</display>
                    </_1007004>
                    <_1007005>
                        <display>Errors in the kitContents.</display>
                    </_1007005>
                    <_1007006>
                        <display>Missing fields in basket line.</display>
                    </_1007006>
                    <_1007007>
                        <display>Invalid fields in basket line.</display>
                    </_1007007>
                    <_1007008>
                        <display>Quantity exceeded for Country of Destination.</display>
                    </_1007008>
                </error_messages>
            </pbgsp>
        </carriers>
    </default>

    <!-- Please modify this part for CRON JOB
       For more information on Magento Cron Job, please visit the following url:
       http://www.magentocommerce.com/wiki/1_-_installation_and_configuration/how_to_setup_a_cron_job#built-in_cron_jobs
    -->
    <crontab>
        <jobs>
            <pb_pbgsp>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pb_pbgsp/catalog_cron::catalogSync</model>
                </run>
            </pb_pbgsp>
            <pb_notifications>
                <schedule>
                    <cron_expr>20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pb_pbgsp/catalog_cron::processStatusNotifications</model>
                </run>
            </pb_notifications>
        </jobs>
    </crontab>
    <adminhtml>
        <events>
            <!--<sales_order_save_commit_after>-->
                <!--<observers>-->
                    <!--<Pb_Pbgsp_CreateParcel>-->
                        <!--<type>model</type>-->
                        <!--<class>pb_pbgsp/observer</class>-->
                        <!--<method>generateInboundParcelPreAdvice</method>-->
                    <!--</Pb_Pbgsp_CreateParcel>-->
                <!--</observers>-->
            <!--</sales_order_save_commit_after>-->
            <sales_order_shipment_save_after>
                <observers>
                    <Pb_Pbgsp_CreateParcel>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>generateInboundParcelPreAdvice</method>
                    </Pb_Pbgsp_CreateParcel>
                </observers>
            </sales_order_shipment_save_after>
			<order_cancel_after>
                <observers>
                    <Pb_Pbgsp_CreateParcel>
                        <type>model</type>
                        <class>pb_pbgsp/observer</class>
                        <method>cancelPbOrder</method>
                    </Pb_Pbgsp_CreateParcel>
                </observers>
            </order_cancel_after>
	    </events>
        <!--<translate>-->
            <!--<modules>-->
                <!--<translations>-->
                    <!--<files>-->
                        <!--<default>Pb_Pbgsp.csv</default>-->
                    <!--</files>-->
                <!--</translations>-->
            <!--</modules>-->
        <!--</translate>-->
    </adminhtml>

</config> 

