<?xml version="1.0"?>
<config>
   <sections>
    <carriers>
        <groups>
            <pbgsp translate="label" module="shipping">
                <label>Pitney Bowes PBGSP</label>
                <frontend_type>text</frontend_type>
                <sort_order>13</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                   <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
						<environment translate="label">
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pb_pbgsp/environmentconfig</source_model>
                             <comment><![CDATA[
							 <script type='text/javascript'>    
								function init_comment()
								{

									$('carriers_pbgsp_environment').observe('change', function(){
										var field_value = $('carriers_pbgsp_environment').getValue();
										if(field_value == 2){
											var authorization_endpoint = 'https://cbs.ecommerce.pb.com/auth/token';
											var checkout_endpoint = 'https://cbs.ecommerce.pb.com/checkout/services/v1';
											var order_mgmt_api = 'https://cbs.ecommerce.pb.com/order-mgmt/services/v1';
											var ftphost = 'sftp-cbs.ecommerce.pb.com';
																								
										} else if(field_value == 1){
											var authorization_endpoint = 'https://sandbox-cbs.ecommerce.pb.com/auth/token';
											var checkout_endpoint = 'https://sandbox-cbs.ecommerce.pb.com/checkout/services/v1';
											var order_mgmt_api = 'https://op-sandbox-cbs.ecommerce.pb.com/order-mgmt/services/v1';
											var ftphost = 'sftp-sandbox-cbs.ecommerce.pb.com';
										
										} else{
										
											var authorization_endpoint = '';
											var checkout_endpoint = '';
											var order_mgmt_api = '';
											var ftphost = '';
										}
										
										$('carriers_pbgsp_authorization_endpoint').setValue(authorization_endpoint);	$('carriers_pbgsp_checkout_endpoint').setValue(checkout_endpoint);
										$('carriers_pbgsp_order_mgmt_api').setValue(order_mgmt_api);
										$('carriers_pbgsp_ftphost').setValue(ftphost);
									});
								}
								document.observe('dom:loaded', function(){init_comment();});
								</script>
							 ]]>  
							</comment>
							<sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
						
                        <merchantcode translate="label">
                            <label>Merchant Code</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantcode>
                       <authorization_endpoint translate="label">
                           <label>Authorization Endpoint</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>15</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </authorization_endpoint>
                        <checkout_endpoint translate="label">
                            <label>Checkout Endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkout_endpoint>
                       <order_mgmt_api translate="label">
                           <label>ASN Endpoint</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>17</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </order_mgmt_api>
                        <apiuser translate="label">
                            <label>API username</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apiuser>
                        <apipass translate="label">
                            <label>API password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apipass>
                        <ftpuser translate="label">
                            <label>SFTP username</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ftpuser>
                        <ftppass translate="label">
                            <label>SFTP password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ftppass>
                        <ftphost translate="label">
                            <label>SFTP hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ftphost>
                        <ftpport translate="label">
                            <label>SFTP port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ftpport>
                        <ftpdir translate="label">
                            <label>SFTP catalog directory</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ftpdir>
						<catalog_diff translate="label">
                            <label>Catalog update period (hours, min 1 hour)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</catalog_diff>
						<catalog_full translate="label">
                            <label>Full catalog upload period (days)</label>
                            <frontend_type>text</frontend_type>
                             <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</catalog_full>
                       <catalog_size translate="label">
                           <label>Maximum Records Per File</label>
                           <frontend_type>text</frontend_type>
                           <validate>validate-number</validate>
                           <sort_order>105</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </catalog_size>
                       <catalog_sender_id translate="label">
                           <label>Catalog Sender ID</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>106</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </catalog_sender_id>
                       <admin_email translate="label">
                           <label>Admin Email</label>
                           <frontend_type>text</frontend_type>
                           <validate>validate-email</validate>
                           <sort_order>110</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </admin_email>
                       <catalog_encryption_enabled translate="label">
                           <label>Catalog Encryption Enabled</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>115</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
						   <comment><![CDATA[
							 <script type='text/javascript'>    
								$("row_carriers_pbgsp_catalog_encryption_enabled").hide();

							 </script>
							 ]]>  
							</comment>
                       </catalog_encryption_enabled>
                       <encryption_public_key translate="label">
                           <label>Catalog Encryption Public Key</label>
                           <frontend_type>textarea</frontend_type>
                            <sort_order>120</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
						   <comment><![CDATA[
							 <script type='text/javascript'>    
								$("row_carriers_pbgsp_encryption_public_key").hide();

							 </script>
							 ]]>  
							</comment>
                       </encryption_public_key>
                       <notify_catalog_ok translate="label">
                           <label>Notify on Successful Catalog Export</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>121</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </notify_catalog_ok>
                       <notify_catalog_err translate="label">
                           <label>Notify on Catalog Export Failure</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>122</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </notify_catalog_err>
                       <asn_generation_enabled translate="label">
                           <label>Generate ASN</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>125</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </asn_generation_enabled>
					   <override_shipping_address_enabled translate="label">
                           <label>Override Shipping Address</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>128</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                        </override_shipping_address_enabled>
                        <!--
                        If the free_shipping_enable flag enable, the system will check free_shipping_subtotal to give free shipping
                        otherwise will use shopping cart price rule behaviour
                        -->
                        <free_shipping_enable translate="label">
                            <label>Free shipping with minimum order amount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </free_shipping_enable>
                        <free_shipping_subtotal translate="label">
                            <label>Minimum order amount for free shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </free_shipping_subtotal>
                       <free_tax_enable translate="label">
                           <label>Enable zero tax for customer</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_enabledisable</source_model>
                           <sort_order>175</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </free_tax_enable>

                       <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <title translate="label">
                            <label>Title</label>
							<validate>required-entry</validate>
                            <frontend_type>text</frontend_type>
							<validate>required-entry</validate>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                       <!-- added by BigPixel 6/5/2012 -->
                       <handlingfee translate="label">
                           <label>Handling Fee</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>241</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </handlingfee>
                       <handlingoption translate="label">
                           <label>Handling Fee Apply As</label>
                           <frontend_type>select</frontend_type>
                           <source_model>pb_pbgsp/handlingoptions</source_model>
                           <sort_order>242</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </handlingoption>
                       <domestic_shipping_fee translate="label">
                           <label>Domestic Shipping Fee</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>243</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </domestic_shipping_fee>
                       <domestic_shipping_option translate="label">
                           <label>Apply Domestic shipping fee as</label>
                           <frontend_type>select</frontend_type>
                           <source_model>pb_pbgsp/handlingoptions</source_model>
                           <sort_order>244</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </domestic_shipping_option>
                       <delivery_adjustment_min_days translate="label">
                           <label>Minimum Delivery Days to PB Hub</label>
                           <frontend_type>text</frontend_type>
                           <validate>validate-number</validate>
                           <sort_order>245</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </delivery_adjustment_min_days>
                       <delivery_adjustment_max_days translate="label">
                           <label>Maximum Delivery Days to PB Hub</label>
                           <frontend_type>text</frontend_type>
                           <validate>validate-number</validate>
                           <sort_order>246</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </delivery_adjustment_max_days>
                       <!-- added by BigPixel 6/5/2012 -->
                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>250</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>251</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>260</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>270</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                       <!-- test comments -->
                       <trackinglink translate="label">
                           <label>Enable Tracking Links</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>271</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </trackinglink>
                       <suppress_domestic_tracking translate="label">
                           <label>Suppress Domestic Leg Tracking</label>
                           <frontend_type>select</frontend_type>
                           <sort_order>280</sort_order>
                           <frontend_class>shipping-skip-hide</frontend_class>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </suppress_domestic_tracking>
                       <custom_shipment_email_subject translate="label">
                           <label>Custom Shipment Email Subject</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>281</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </custom_shipment_email_subject>
                       <custom_shipment_email_template>
                           <label>Custom Shipment Email</label>
                           <frontend_type>textarea</frontend_type>
                           <sort_order>282</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </custom_shipment_email_template>
                       <enablelogging translate="label">
                           <label>Enable Logging</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>283</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </enablelogging>
                       <separate_log_file translate="label">
                           <label>Log in separate file</label>
                           <frontend_type>select</frontend_type>
                           <sort_order>284</sort_order>
                           <frontend_class>shipping-skip-hide</frontend_class>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </separate_log_file>
                       <return_address_street1 translate="label">
                           <label>Return Address Street 1</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>285</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </return_address_street1>
                       <return_address_city translate="label">
                           <label>Return Address City</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>286</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </return_address_city>
                       <return_address_state translate="label">
                           <label>Province/State</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>287</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </return_address_state>
                       <return_address_country translate="label">
                           <label>Country</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_country</source_model>
                           <sort_order>288</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </return_address_country>
                       <return_address_zip translate="label">
                           <label>Zip or Postal Code</label>
                           <frontend_type>text</frontend_type>

                           <sort_order>289</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </return_address_zip>
                    </fields>
                </pbgsp>
            </groups>
        </carriers>

    </sections>
</config>
